.header {
  height: 80px;
  width: 100%;
  background-color: #0e2737;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    display: flex;
    column-gap: 15px;
    li {
      a {
        color: #fff;
        &:hover {
          color: #1cc3b2;
          transition: all 0.8s;
        }
      }
    }
  }
}

